.skillsSection {
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}

.skillCardBox {
  min-width: fit-content;
  background-color: grey;
  color: white;
  text-align: center;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 10px;
}