.expCardBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-top: 20px;

  .companyLogoContainer {
    display: flex;
    align-items: center;

    .companyLogo {
      width: 100%;
      max-width: initial;
      min-width: 60px;
    }
  }

  .jobDetails {
    align-items: center;

    .jobTitle {
      font-size: 14px;
      font-weight: lighter;
    }

    .companyName {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .jobDurationLocation {
    text-align: right;

    .jobDuration {
      font-size: 14px;
    }

    .activeJob {
      background-color: #f4ddf4;
      border-radius: 5px;
      width: fit-content;
      padding: 2px 5px;
      color: #683268;
      display: inline-block;
      margin-bottom: 5px;
    }

    .companyLocation {
      font-size: 12px;
    }
  }
}